/* --- navbar --- */
.navbar {
    box-shadow: inset 0 -0.5px 0 rgb(195, 174, 174);
}

.navbar{
    top: 0;
    position: sticky;
    z-index: 999;
}

/* --- sidebar --- */
.sidebar {
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0px;
    z-index: 100;
    padding:100px 0 0;
    box-shadow: inset -0.5px 0 0 rgba(195, 189, 189);
    z-index: 99;
}

@media(max-width: 767.98px) {
    .sidebar{
        position: absolute;
        left: -9999px;
        top: 9999px;
        padding: 0;
    }
}

.sidebar .nav-link {
    color: #333;
}

.sidebar .nav-link.active {
    color: #282382;
}

.bottom .nav-link {
    color: rgb(226, 24, 24);
}

.bottom .nav-link.active {
    color: #282382;
}

/* --- fixedbuttom --- */
@media(min-width: 767.98px) {
    .bottom{
        position: fixed;
        left: -9999px;
        top: 9999px;
    }
}

/* --- hidden --- */
@media(max-width: 767.98px) {
    .hidden{
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
}

@media(max-width: 848.98px) {
    .hidden2{
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
}

