*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 520px;
    margin: 0 auto;
    margin-top: 2rem;
    height: 500px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    overflow: hidden;
}

.main h3{
    margin-left: 2rem;
    
}

.img img{
    width: 100%;
}


.content{height: 300px;
    background: black;
    overflow: hidden;
    
}

.footer{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    align-items: center;
    height: 60px;
}

.user{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    margin-top: .7rem;
}
.user img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.user p{
    margin-left: 1rem;
    margin-top: .7rem;
}

.ft-r {
    padding-right: 2rem;
    margin-top: 2.5rem;
}

.ft-l{
    margin-top: 2.5rem;
    margin-left: 2rem;
}

.ft-c{
    margin-right: 17rem;
    margin-top: 2.5rem;
}
