*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    max-width: 520px;
    margin: 0 auto;
    margin-top: 2rem;
    height: 500px;
    box-shadow: 3px 3px 10px rgb(117, 116, 116);
    overflow: hidden;
}


.main h3{
    margin-left: 1rem;
}


.img img{
    width: 100%;
}


.content{height: 300px;
    background: black;
    overflow: hidden;
    
}

.footer{
    display: flex;
    /* justify-content: space-between; */
    background: #ffffff;
    align-items: center;
    height: 55px;
}

.user{
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: .7rem;
}
.user img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1px;
}
.user a{
    margin-left: 0.7rem;
    margin-top: .7rem;
    color: black;
}
.user p{
    margin-left: 1rem;
    align-items: left;
    margin-top: 1.7rem;
    color: rgb(128, 126, 126);
    
}


.ft-r {
    margin-left: 18rem;
    margin-top: 2.5rem;
    padding-right: 18rem ;
}

.ft-l{
    margin-top: 2.5rem;
    margin-left: 2rem;
}

.ft-c {
    margin-left: 2rem; 
     margin-top: 2.5rem;
} 

